.main{}

.strip-title{
    font-size: xx-large;
    margin-bottom: 1.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.strip-movies {
    display: flex;
    flex-direction: row;
    gap: 0;
}

.strip-movie-card{
    display: flex;
    flex-direction: row;
    width: fit-content;
    
}

.strip-movie-card-title {

    /* width: 10%; */
    position: relative;
    margin: 0 15px;
}

.strip-movie-card-title-inner {
    width: max-content;
    position: absolute;
    top: 50%;
    left: 50%;

}

.rotate {
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}