.details-main{
    display: inline-block;
    width: 100%;
    height: 100vh;
    flex-direction: row;
}

.details-background-image{
    overflow: hidden;
    position: absolute;
    height: 90vh;
    z-index: -1;
    filter: blur(30px) grayscale(1);
}

.details-main-inner-container{
    display: flex;
    width: 100%;
    z-index: 1;
}

.details-main-picture{
    width: 20%;
    display: flex;
    justify-content: center;
}

.details-main-info {
    width: 50%;
    display: flex;

    @media (min-width: 400px) {
        font-size: 0.1rem;
    }

    @media (min-width: 640px) {
        font-size: 0.25rem;
    }

    @media (min-width: 768px) {
        font-size: 0.5rem;
    }

    @media (min-width: 1024px) {
        font-size: 1rem;
    }
}
.details-main-meta{
    width:30%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    @media (min-width: 400px) {
        font-size: 0.1rem;
    }

    @media (min-width: 640px) {
        font-size: 0.25rem;
    }

    @media (min-width: 768px) {
        font-size: 0.5rem;
    }

    @media (min-width: 1024px) {
        font-size: 1rem;
    }
}
.details-main-meta-overlay{
    height: 95vh;
    width: 100%;
    display: flex;
    /* align-items: center; */
    background: rgba(255,255,255,.1);
}

.details-main-meta-inner{
    display: flex;
    flex-direction: column;
    gap: 10;
    height: fit-content;
    width: 100%;
}

.details-main-genre-chip{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    border-radius: 50px;
    border: 1px solid #555;
    padding: 0.25rem 0.75rem;
    white-space: nowrap;
}